:root {
  --pink-color: rgb(234, 76, 137);
  --pink-code: 234, 76, 137;
  --purple-color: rgb(79, 60, 201);
  --blue-color: rgb(26, 115, 232);
  --gray-color: #212121;
}

*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #161717;
  color: white;
}

button {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--purple-color);
}

a:hover {
  opacity: 0.8;
}

form {
  max-width: 500px;
  margin: 3rem auto;
  padding: 1rem;
  display: grid;
  gap: 3rem;
}

header {
  display: grid;
  gap: 1.5rem;
}

h1 {
  font-size: 1.6rem;
}

header menu {
  display: flex;
  gap: 1rem;
}

.google-btn {
  display: flex;
  align-items: center;
  padding: .125rem;
  background-color: var(--blue-color);
  border-radius: .25rem;
  color: white;
}

.google-btn span {
  padding: 0 1rem;
  font-weight: 500;
}

.google-icon {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: .125rem;
}

.google-icon img {
  width: 18px;
}

.twitter-btn {
  padding: 0 1rem;
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  background-color: #161717;
}

.twitter-btn:hover {
  background-color: #212121;
}

.twitter-btn img {
  width: 14px;
}

.separator {
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--gray-color);
}

.separator::before {
  content: 'Or';
  position: absolute;
  color: #555;
  top: 50%;
  left: 50%;
  padding: 1rem;
  background-color: #161717;
  transform: translate(-50%, -50%);
}

article {
  display: grid;
  gap: 2rem;
}

.personal-fields {
  display: flex;
  gap: 1rem;
}

article label {
  width: 100%;
  font-weight: 600;
}

.input {
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--gray-color);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  border-radius: .5rem;
  transition: .3s;
  border: 1px solid transparent;
}

.input:hover,
.input:focus {
  background-color: #454045;
  box-shadow: 0 0 0 4px rgba(var(--pink-code), 0.1);
  border: 1px solid rgba(var(--pink-code), 0.2);
}

.input:focus {
  border-color: rgba(var(--pink-code), 0.4);
}

.input::placeholder {
  color: #aaa;
}

footer {
  display: grid;
  place-items: start;
  gap: 2rem;
}

.terms {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
  color: white;
}

.terms input {
  accent-color: var(--purple-color);
}

footer button {
  min-width: 200px;
  text-align: center;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--pink-color);
  color: white;
}

footer button:hover {
  opacity: 0.8;
}

.recaptcha-terms {
  max-width: 75%;
  font-size: 0.75rem;
  color: white;
}